<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Orders</title>
    <%- include('./snippets/dashboardHeaders.ejs') %>
</head>
  <body>
   <%- include('./snippets/dashboardNavbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <%- include('./snippets/dashboardSidebar.ejs') %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        
          <h4 class="text-center mt-5 fw-bold fs-3">Customer Orders</h4>
          <table id="example" class="table table-striped small table-sm text-start" style="width:100%">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>phone number</th>
                    <th>Amount</th>
                    <th>Food</th>
                    <th>Quantity</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ani Godfrey Chidozie</td>
                    <td>07053086140</td>
                    <td>₦5000</td>
                    <td>Fried Rice</td>
                    <td>2</td>
                    <td>22/8/2024</td>
                </tr>
            </tbody>
          </table>
        </main>
      </div>
    </div>


    <%- include('./snippets/dashboardScripts.ejs') %>
    <script>new DataTable('#example');</script>
  </body>
</html>