<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%- include('./snippets/headers') %>
</head>
<body>
    <%- include('./snippets/navbar') %>
    <div class="container form-container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6">
                <div class="form-box">
                    <h3 class="text-center">Login</h3>
                    <form id="loginForm">
                        <div class="form-group mb-4">
                            <input type="text" class="form-control" placeholder="Phone Number" name="phone_no">
                            <div class="phone_noErr text-center text-danger"></div>
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                            <div class="passwordErr text-center text-danger"></div>
                        </div>
                        <button type="submit" class="btn btn-warning w-100 btn-block">Login</button>
                        <p class="text-center mt-3">Don't have an account? <a class="text-decoration-none" href="/register">Register</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('./snippets/scripts') %>
    <script src="js/login.js"></script>
</body>
</html>